@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1D1C22;
  height: 100px;
  color:white;
  font-family:"work sans";
  font-weight: 800;
}

.container {
  width: 80%;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  /* padding-top: 40px; */
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover{
  color: #DFEED8;
}

.nav-item, li {
  text-decoration: none;
  transition: 0.3s;
  z-index: 1;
  font-weight: 500;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;;
}

.nav-item:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color:  #DFEED8;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  transition: 0.3s;
}

.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}
